[submodule "themes/code-editor"]
	path = themes/code-editor
	url = https://github.com/aubm/hugo-code-editor-theme

[submodule "node_modules/bootstrap-sass"]
	path = node_modules/bootstrap-sass
	url = https://github.com/twbs/bootstrap-sass
