[submodule "public"]
	path = public
	url = git@github.com:lucydot/lucydot.github.io.git
	branch = master
[submodule "themes/code-editor"]
	path = themes/code-editor
	url = https://github.com/aubm/hugo-code-editor-theme
